VITE_API_BASE_URL=/api
VITE_API_PROXY_TARGET=http://meshinfo:9000

# osm | mapbox
VITE_MAP_PROVIDER=osm
# mapbox options, token required
VITE_MAPBOX_TOKEN=
VITE_MAPBOX_STYLE=mapbox/satellite-streets-v12

# auto | nominatim | mapbox
VITE_GEOCODER_PROVIDER=auto

#optional
VITE_MAPBOX_GEOCODER_COUNTRY=US
VITE_MAPBOX_GEOCODER_LANGUAGE=en
VITE_NOMINATIM_EMAIL=
