{% extends "templates/static/layout.html.j2" %}

{% block title %}Graph{% endblock %}
{% block content %}
  <div class="w-full h-full" id="container" style="height: 100vh">
  </div>
  <script src="https://cdn.anychart.com/releases/8.13.0/js/anychart-core.min.js"></script>
  <script src="https://cdn.anychart.com/releases/8.13.0/js/anychart-graph.min.js"></script>
  <script>
    var data = {{ graph|tojson|safe }};
    {% raw %}
    var chart = anychart.graph(data);
    chart.container("container");
    chart.nodes().labels().enabled(true);
    chart.nodes().labels().format("{%name}");
    chart.nodes().labels().fontSize(12);
    chart.nodes().labels().fontWeight(600);
    chart.draw();
    chart.fit();
    chart.listen('click', function(e) {
    var tag = e.domTarget.tag;
    if (tag) {
      if (tag.type === 'node') {
        var url;
        for (var i = 0; i < data.nodes.length; i++) {
          if (data.nodes[i].id === tag.id) {
            url = "node_" + data.nodes[i].id + ".html";
            break;
          }
        }
        window.open(url, '_self');
      }
    }
  });
    {% endraw %}
  </script>
{% endblock %}
