<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      tailwind.config = {
        corePlugins: {
          preflight: true,
        },
      }
    </script>
    {% block head %}{% endblock %}
</head>
<body>
  <div>
    <!-- Static sidebar for desktop -->
    <div class="hidden lg:fixed lg:inset-y-0 lg:z-50 lg:flex lg:w-60 lg:flex-col">
      <!-- Sidebar component, swap this element with another sidebar if you like -->
      <div class="flex flex-col px-6 pb-4 overflow-y-auto bg-gray-300 border-r-2 grow gap-y-5 border-r-cyan-600">
        <div class="flex items-center h-24 mt-4 shrink-0">
          <div class="text-2xl">
            <div class="p-0 m-0">S<span class="text-gray-500">ACRAMENTO</span></div>
            <div class="p-0 m-0">V<span class="text-gray-500">ALLEY</span></div>
            <div class="p-0 m-0">M<span class="text-gray-500">ESH</span></div>
          </div>
        </div>

        <div>
          {{ config.mesh.description }}
        </div>

        {% if config.mesh.url %}
          <div>
            <a href="{{ config.mesh.url }}" class="text-xs text-gray-900">Website</a>
          </div>
        {% endif %}

        <nav class="flex flex-col flex-1">
          <h3 class="font-bold">Mesh</h3>
          <div class="mb-1">
            <a href="chat.html">
              <img src="images/icons/chat.svg" width="20" height="20" align="middle" class="inline-block" style="vertical-align: middle;">
              Chat
            </a>
          </div>
          <div class="mb-1">
            <a href="map.html">
              <img src="images/icons/map.svg" width="20" height="20" align="middle" class="inline-block" style="vertical-align: middle;">
              Map
            </a>
          </div>
          <div class="mb-1">
            <a href="nodes.html">
              <img src="images/icons/node.svg" width="20" height="20" align="middle" class="inline-block" style="vertical-align: middle;">
              Nodes
            </a>
          </div>
          <div class="mb-1">
            <a href="neighbors.html">
              <img src="images/icons/neighbors.svg" width="20" height="20" align="middle" class="inline-block" style="vertical-align: middle;">
              Node Neighbors
            </a>
          </div>
          <div class="mb-1">
            <a href="stats.html">
              <img src="images/icons/stats.svg" width="20" height="20" align="middle" class="inline-block" style="vertical-align: middle;">
              Stats
            </a>
          </div>
          <div class="mb-1">
            <a href="telemetry.html">
              <img src="images/icons/telemetry.svg" width="20" height="20" align="middle" class="inline-block" style="vertical-align: middle;">
              Telemetry
            </a>
          </div>
          <div class="mb-1">
            <a href="traceroutes.html">
              <img src="images/icons/route2.svg" width="20" height="20" align="middle" class="inline-block" style="vertical-align: middle;">
              Traceroutes
            </a>
          </div>
        </nav>

        <nav class="flex flex-col flex-1">
          <h3 class="font-bold">Logs</h3>
          <div class="mb-1">
            <a href="mesh_log.html">Mesh Messages</a>
          </div>
          <div class="mb-1">
            <a href="mqtt_log.html">MQTT Messages</a>
          </div>
        </nav>

        <nav class="flex flex-col flex-1">
          <h3 class="font-bold">Tools</h3>
          <div class="mb-1">
            <a href="https://meshview.armooo.net" target="_blank">Armooo's MeshView</a>
          </div>
          <div class="mb-1">
            <a href="https://meshtastic.liamcottle.net" target="_blank">Liam's Meshtastic Web</a>
          </div>
          <div class="mb-1">
            <a href="https://meshmap.net" target="_blank">MeshMap</a>
          </div>
          <div class="mb-1">
            <a href="https://app.bayme.sh" target="_blank">Bay Mesh Explorer</a>
          </div>
          <div>
            <a href="https://heywhatsthat.com/profiler.html" target="_blank">HWT Path Profiler</a>
          </div>
        </nav>

        <nav class="flex flex-col flex-1">
          <h3 class="font-bold">Meshtastic Addons</h3>
          <div class="mb-1">
            <a href="https://github.com/TheCommsChannel/TC2-BBS-mesh" target="_blank">TheCommsChannel BBS</a>
          </div>
        </nav>

        <div class="flex-grow"></div>

        <div class="flex flex-col">
          <div class="font-bold">Data Updated</div>
          <div>{{ timestamp.astimezone(zoneinfo).strftime('%Y-%m-%d %H:%M:%S %z') }}</div>
        </div>

        <div class="flex-grow"></div>

        <div class="flex flex-col">
          <h5 class="mb-2">Powered by MeshInfo</h5>
          <a href="https://github.com/kevinelliott/meshinfo" class="text-xs text-gray-500">
            <img src="https://img.shields.io/github/stars/kevinelliott/meshinfo?style=social" alt="GitHub Stars">
          </a>
        </div>
      </div>
    </div>

    <div class="lg:pl-60">
      <main class="py-1">
        <div class="w-full px-4 py-2 sm:px-6 sm:py-2 lg:px-6 lg:py-2">
          {% block content %}{% endblock %}
        </div>
      </main>
    </div>
  </div>

  <style>
      body {
        font-family: monospace;
        font-size: 12px;
        margin: 0;
        padding: 0;
      }
      a {
        text-decoration: none;
        color: #33F;
      }
      a:visited {
        color: #33F;
      }
      nav a:hover {
        color: #000;
      }
  </style>
</body>
</html>
