{% extends "templates/static/layout.html.j2" %}

{% block title %}MQTT Messages{% endblock %}

{% block content %}
  <h1>MQTT Messages</h1>
  <p>
    All messages received by MQTT from the mesh as seen by <b>KE-R</b> (!4355f528).
    If multiple nodes are feeding this MQTT server, the messages will be from all of them.
    Only the messages received since this server was last restarted are shown.
  </p>
  <p>Last updated: {{ timestamp.astimezone(timezone).strftime('%Y-%m-%d %H:%M:%S %z') }}</p>

  <table border=1 cellpadding=4>
    <tr>
      <th>Timestamp</th>
      <th>Topic</th>
      <th>Message</th>
    </tr>
    {% for message in messages[::-1] %}
    <tr>
      <td style="white-space:nowrap">{{ datetime.fromtimestamp(mqtt_connect_time.timestamp() + message.timestamp) }}</td>
      <td style="white-space:nowrap">{{ message.topic }}</td>
      <td>{{ json.dumps(json.loads(message.payload.decode()), indent=2) }}</td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}
