{% extends "templates/static/layout.html.j2" %}

{% block title %}Stats{% endblock %}

{% block content %}
    <h1>Stats</h1>
    <p>
      Some revelations based on messages that have
      been heard by the mesh by <b>KE-R</b> (!4355f528).
    </p>
    <p>Last updated: {{ timestamp.astimezone(zoneinfo).strftime('%Y-%m-%d %H:%M:%S %z') }}</p>

    <h3 class="text-xl">Current</h3>
    <div>
      <h3>Active Nodes</h3>
      <div>
        <div>{{ stats.active_nodes }}</div>
      </div>
    </div>

    <h3 class="text-xl">Persisted</h3>
    <div>
      <h3>Known Nodes</h3>
      <div>
        <div>{{ stats.total_nodes }}</div>
      </div>
    </div>
    <div>
      <h3>Chat Messages</h3>
      <div>
        <div>{{ stats.total_chat }}</div>
      </div>
    </div>
    <div>
      <h3>Telemetry</h3>
      <div>
        <div>{{ stats.total_telemetry }}</div>
      </div>
    </div>
    <div>
      <h3>Traceroutes</h3>
      <div>
        <div>{{ stats.total_traceroutes }}</div>
      </div>
    </div>

    <h3 class="text-xl">Since Last Restart</h3>
    <div>
      <h3>Messages (Session Total)</h3>
      <div>
        <div>{{ stats.total_messages }}</div>
      </div>
    </div>

    <div>
      <h3>Messages (Session MQTT)</h3>
      <div>
        <div>{{ stats.total_mqtt_messages }}</div>
      </div>
    </div>



{% endblock %}
