{% extends "templates/static/layout.html.j2" %}

{% block title %}Traceroutes{% endblock %}

{% block content %}
    <h5 class="mb-2 text-gray-500">Traceroutes</h5>
    <h1 class="mb-2 text-xl">Traceroutes</h1>
    <p class="mb-2">
      Traceroutes as seen by <b>{{ config['server']['node_id'] }}</b> ({{ config['server']['node_id'] }}).
    </p>

    <table border=1 cellpadding=4>
      <tr>
        <td>Timestamp</td>
        <td>From</td>
        <td>To</td>
        <td>Hops</td>
        <td>Route</td>
        <td>Route Hops</td>
      </tr>
      {% for item in traceroutes %}
        <tr>
          <td style="white-space:nowrap">{{ datetime.fromtimestamp(item.timestamp).astimezone(zoneinfo) }}</td>
          <td>{{ item.from }}</td>
          <td>{{ item.to }}</td>
          <td>{{ item.hops_away }}</td>
          <td>{{ item.route | join('<span class="text-gray-300"> > </span>') | safe }}</td>
          <td>{{ item.route | length }}</td>
        </tr>
      {% endfor %}
    </table>
{% endblock %}
