*.sh                 text eol=lf

/frontend/.yarn/**            linguist-vendored
/frontend/.yarn/releases/*    binary
/frontend/.yarn/plugins/**/*  binary
/frontend/.pnp.*              binary linguist-generated
