### macOS ###
.DS_Store
.AppleDouble
.LSOverride

**/__pycache__
.trunk/
node_modules/
.github_pat
.env
.venv

backups/*
caddy
Caddyfile
output/*
mosquitto/data/*
postgres/data/*
config.json
spa

.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions