YOUR_FQDN_OR_HOSTNAME {
	encode gzip
	tls YOUR_EMAIL_ADDRESS

	log {
		output file /var/log/caddy.log
	}

	# --- API ---
	handle_path /api/* {
		reverse_proxy meshinfo:9000
	}

	# --- API (direct /v1/* access, used by the SPA) ---
	handle /v1/* {
		reverse_proxy meshinfo:9000
	}

	# --- Frontend ---
	handle {
		reverse_proxy frontend:80
	}
}
