{
	debug
}

YOUR_FQDN_OR_HOSTNAME {
	root * /srv
	encode gzip
	file_server
	tls YOUR_EMAIL_ADDRESS
	log {
		output file /var/log/caddy.log
	}
	handle_path /api/* {
		reverse_proxy meshinfo:9000
	}
	handle_path /next/* {
		reverse_proxy meshinfo-spa:8000
	}
}
