{
  "broker": {
    "enabled": true,
    "host": "mqtt.meshtastic.org",
    "port": 1883,
    "username": "meshdev",
    "password": "large4cats",
    "client_id_prefix": "meshinfo-dev",
    "topics": [
      "msh/US/CA/+/2/json/#"
    ],
    "decoders": {
      "protobuf": {
        "enabled": true
      },
      "json": {
        "enabled": true
      }
    },
    "channels": {
      "encryption": [
        {
          "key": "AQ==", "key_hash": "1PG7OiApB1nwvP+rz05pAQ=="
        },
      ]
    }
  },
  "paths": {
    "data": "output/data",
    "output": "output/static-html",
    "templates": "templates"
  },
  "server": {
    "node_id": "4355f528",
    "node_activity_prune_threshold": 7200,
    "timezone": "America/Los_Angeles",
    "intervals": {
      "enrich": 900,
      "data_save": 300,
      "render": 5
    }
  },
  "mesh": {
    "name": "Sac Valley Mesh",
    "shortname": "SVM",
    "description": "Serving Meshtastic to the Sacramento Valley and surrounding areas.",
    "url": "https://sacvalleymesh.com",
    "contact": "https://sacvalleymesh.com",
    "country": "US",
    "region": "California",
    "metro": "Sacramento",
    "latitude": 38.58,
    "longitude": -121.49,
    "altitude": 0,
    "timezone": "America/Los_Angeles",
    "announce": {
      "enabled": true,
      "interval": 60
    }
  },
  "integrations": {
    "discord": {
      "enabled": true,
      "token": "token",
      "channel": "1247618108810596392",
      "webhook": "webhook"
    },
    "geocoding": {
      "enabled": false,
      "provider": "geocode.maps.co",
      "geocode.maps.co": {
        "api_key": "XXXXXXXXXXXXXXXX"
      }
    }
  },
  "debug": false
}
