mesh:
  name: Sac Valley Mesh
  shortname: SVM
  description: Serving Meshtastic to the Sacramento Valley and surrounding areas.
  url: https://sacvalleymesh.com
  contact: https://sacvalleymesh.com
  country: US
  region: California
  metro: Sacramento
  latitude: 38.58
  longitude: -121.49
  altitude: 0
  timezone: America/Los_Angeles
  announce:
    enabled: true
    interval: 60
  tools:
  - name: Armooo's MeshView
    url: https://meshview.armooo.net
  - name: Liam's Meshtastic Map
    url: https://meshtastic.liamcottle.net
  - name: MeshMap
    url: https://meshmap.net
  - name: Bay Mesh Explorer
    url: https://app.bayme.sh
  - name: HWT Path Profiler
    url: https://heywhatsthat.com/profiler.html
broker:
  enabled: true
  host: mqtt.meshtastic.org
  port: 1883
  username: meshdev
  password: large4cats
  client_id_prefix: meshinfo-dev
  topics:
  - msh/US/CA/SacValley/#
  - msh/US/CA/sacvalley/#
  decoders:
    protobuf:
      enabled: true
    json:
      enabled: true
  channels:
    encryption:
    - key: 1PG7OiApB1nwvP+rz05pAQ==
      key_name: Default
    display:
    - '0'
paths:
  backups: output/backups
  data: output/data
  output: output/static-html
  templates: templates
server:
  node_id: 4355f528
  base_url: REPLACE_WITH_THE_URL_OF_THIS_SERVER_WITHOUT_TRAILING_SLASH
  node_activity_prune_threshold: 7200
  timezone: America/Los_Angeles
  intervals:
    data_save: 300
    render: 5
  backups:
    enabled: true
    interval: 86400
  enrich:
    enabled: true
    interval: 900
    provider: world.meshinfo.network
  graph:
    enabled: true
    max_depth: 10
integrations:
  discord:
    enabled: false
    token: REPLACE_WITH_TOKEN
    guild: REPLACE_WITH_GUILD_ID
  geocoding:
    enabled: false
    provider: geocode.maps.co
    geocode.maps.co:
      api_key: REPLACE_WITH_API_KEY
debug: false
